/* Presentation page */

.intro {
  font-size: 100% !important;
}

.skills {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  text-align: center;
  background-color: lightgray;
  border-radius: 2%;
}

.skills-title {
  border-bottom: 1px solid black;
  font-size: 2.5rem;
  margin: 10px 0;
}

.skills-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-domain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 20px 30px 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 30px;
}

.skills-domain > h3 {
  padding: 10px 10px 0 10px;
  font-style: italic;
  font-size: 125%;
}

.skills-domain > h3 > svg {
  padding-left: 5px;
  width: auto !important;
}

.languages {
  margin-top: 20px;
  text-align: center;
}

.languages-title {
  border-bottom: 1px solid grey;
  font-size: 2.5rem;
}

.languages-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.languages-body > h3 > img {
  height: 3rem;
  padding-left: 5px;
}

.languages-body > h3 > span {
  font-size: small;
}

p {
  margin: 0;
}


@media screen and (max-width: 380px) {
    .title {
        font-size: 1.5rem;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .middle {
        padding: 0 5px;
    }

    .responsive-body {
        padding: 0 !important;
    }

    .container {
        padding: 0 10px;
    }

    .timeline > li {
        padding: 0;
        list-style-type: none;
        border: none;
        border-bottom: 1px solid black;
        margin-bottom: 10mm;
        padding-bottom: 10px;
    }

}